ul.food-place-list {
    flex-wrap: wrap;
    gap: 2rem;
    li:last-child {
        > .food-place {
            > .food-place-bottom-line {
                display: none;
            }
        }
    }
}
