.food-place-card {
    scroll-margin: 2rem;
    width: 300px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    > .food-place-card-content {
        padding: 1rem;
        text-align: left;
        min-height: 300px;
        > h5 {
            color: var(--color-primary-5);
            margin-block: 0;
            margin-bottom: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        > h3 {
            margin-block: 0;
            margin-bottom: 0.6rem;
        }
        > .food-place-tags {
            margin-bottom: 2rem;
        }
        > p {
            margin-block: 0;
            margin-bottom: 2rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            // -webkit-line-clamp: 5; /* From which line on to truncate */
            overflow: hidden;
            flex: 1;
        }
    }
    &:hover {
        > .food-place-images-wrapper {
            > .food-place-images-container {
                > .carousel-button {
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
