ul.food-place-list {
    li:last-child {
        > .food-place {
            > .food-place-bottom-line {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    ul.food-place-list {
        padding-inline-start: 0;
    }
}
