.food-place-images {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    > img {
        margin-bottom: 10px;
        width: 10rem;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .food-place-images {
        margin-right: 0;
        > img {
            width: 100%;
        }
    }
}
