#food-place-list-with-filter {
    > #food-place-list-with-filter-filters {
        justify-content: center;
        margin-bottom: 2rem;
        > .filter {
            margin-right: 4rem;
        }
        > .filter:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    #food-place-list-with-filter {
        > #food-place-list-with-filter-filters {
            flex-direction: column;
            margin-bottom: 4rem;
            > .filter {
                margin-right: 0;
                margin-bottom: 1rem;
            }
            > .filter:last-child {
                margin-bottom: 0;
            }
        }
    }
}
