@font-face {
    font-family: Rammetto;
    font-display: swap;
    src: url("./fonts/RammettoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Calibri;
    font-display: swap;
    src: url("./fonts/calibri-regular.ttf") format("truetype");
}
