.filter {
    position: relative;
    > .filter-header {
        cursor: pointer;
        gap: 0.4rem;
        text-transform: uppercase;
        color: var(--color-primary-5);
        > img {
            height: 40px;
            width: 40px;
        }
    }

    > .filter-underline {
        height: 2px;
        width: 0;
        background-color: var(--color-primary-5);
        transition: width 0.4s ease-in;
        &.visible {
            width: 100%;
        }
    }

    > .filter-options-container {
        gap: 0.4rem;
        max-width: 300px;
        flex-wrap: wrap;
        margin-top: 1rem;
        transition: opacity 0.4s, height 0.4s;
        opacity: 0;
        height: 0;
        &.visible {
            opacity: 1;
            height: unset;
        }
        > span.filter-option {
            cursor: pointer;
            color: var(--color-primary-5);
            border: solid 1px var(--color-primary-5);
            text-wrap: nowrap;
            padding: 0.2rem 0.4rem;
            border-radius: 4px;
        }
    }

    &:hover {
        > .filter-underline {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .filter {
        > .filter-underline {
            &.visible {
                width: 300px;
                margin: 0 auto;
            }
        }
        > .filter-options-container {
            margin: 1rem auto 0;
        }
    }
}
