#home {
    flex: 1;
    > h2 {
        font-weight: normal;
    }
    > .home-cities {
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    #home {
        > .home-cities {
            gap: 1rem;
        }
    }
}
