header {
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;

    >a {
        >.logo-image {
            height: 3rem;
        }
    }
}
