$dark: var(--color-primary-5);
$light: var(--bg);
$spacing: 17px;
$border: 3px;

$hover-size: $spacing * 2 - $border * 2;
$hover-margin: $spacing * (-1) + $border;

a.round-icon,
button.round-icon {
    background-color: $light;
    color: $dark;
    height: $spacing * 2;
    width: $spacing * 2;
    position: relative;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--color-primary-5);
    cursor: pointer;
    box-sizing: border-box;

    > svg {
        position: relative;
        z-index: 1;
        > path {
            fill: $dark;
        }
    }

    > .round-icon-inner {
        background-color: $dark;
        display: block;
        height: 0;
        left: 50%;
        width: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        transition: all 0.1s;
    }

    &:hover {
        color: $light;
        .round-icon-inner {
            height: $hover-size;
            margin-left: $hover-margin;
            margin-top: $hover-margin;
            width: $hover-size;
        }
        > svg {
            > path {
                fill: $light;
            }
        }
    }
}
