@import "./colors.scss";
@import "./fonts.scss";

html {
    scroll-behavior: smooth;
    background-color: var(--bg);
}

.app-container {
    text-align: center;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Calibri;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .align-items-center {
        align-items: center;
    }

    .justify-content-center {
        justify-content: center;
    }

    .flex-1 {
        flex: 1;
    }

    a {
        color: var(--fg);
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .typeface-primary {
        font-family: Kalnia;
    }
}
