:root {
    --bg: #fefdf0;
    --fg: rgb(26, 24, 24);
    --color-green: #043b37;
    --color-dark-green: #022422;
    --color-dark-red: #2c030b;
    --color-grey: #bbae98;
    --color-coral: #ff5e4d;
}
