:root {
    --bg: rgb(255, 255, 255);
    --fg: #2f0601;
    --color-grey: rgb(103, 103, 103);
    --color-light-grey: rgb(240, 241, 240);
    --color-primary-1: #ffe7ce;
    --color-primary-2: #f79d65;
    --color-primary-3: #f4845f;
    --color-primary-4: #f27059;
    --color-primary-5: #f25c54;

    // Toast notification
    --toast-success-hue: 150;
    --toast-failure-hue: 20;
    --toast-warning-hue: 205;
    --toast-padding: 1.5em;
    --toast-margin: 0.5em;
    --toast-bg-color-fallback: #{"hsl(var(--secondary-hue) 15% 100%)"};
    --toast-text-color-fallback: #{"hsl(var(--secondary-hue) 10% 25%)"};
    --toast-opacity: 0.99;
    --toast-content-gap: 1em;
}
