:root {
    --bg: rgb(255, 255, 255);
    --fg: rgb(26, 24, 24);
    --color-grey: rgb(103, 103, 103);
    --color-light-grey: rgb(240, 241, 240);
    --color-primary-1: #ffe7ce;
    --color-primary-2: #f79d65;
    --color-primary-3: #f4845f;
    --color-primary-4: #f27059;
    --color-primary-5: #f25c54;
}
