@font-face {
    font-family: Decimal;
    font-display: swap;
    src: url("./fonts/DECIMAL/Decimal-Semibold.otf") format("otf");
}

@font-face {
    font-family: Decimal;
    font-display: swap;
    font-style: bold;
    src: url("./fonts/DECIMAL/Decimal-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Spectral;
    font-display: swap;
    font-style: italic;
    src: url("./fonts/SPECTRAL/Spectral-SemiBoldItalic.ttf") format("truetype");
}
